body {
    background-color: #2c3e50;
    font-family: Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.frame {
    position: absolute;
    margin: 0 auto;
    border: solid #2ecc71 10px;
    width: 300px;
    height: 200px;
    z-index: 2;
}

.slider-1 {
    margin: 200px 600px;
    position: relative;
}

.slides {
    position: absolute;
    top: -5px;
    left: 0px;
    margin-left: -307px;
    width: 2100px;
    z-index: 1;
}

.slides li {
    background-color: #ecf0f1;
    display: table;
    width: 307px;
    height: 210px;
    float: left;
    border: dashed 2px #222;
}

.slides div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
}

.buttons {
    position: absolute;
    top: 250px;
}

.next,
.prev,
.overflow,
.first_st,
.second_st,
.third_st {
    display: inline-block;
    margin: 10px;
    background-color: #e67e22;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.next,
.prev,
.overflow,
.first_st,
.second_st,
.third_st :hover {
    background-color: #e6b86f;
}

.overflow {
    background-color: #3498db;
}

.overflow:hover {
    background-color: #99bfdb;
}

.off {
    overflow: hidden;
}
